<div class="container mx-auto my-6">
  <div class="py-6"></div>
  <!-- <div class="py-6"></div> -->
  <div class="title text-2xl">
    Related Cards
  </div>
  <div class="mason-container">
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/12/e3/71/12e371a647f461b7ad197cff3694768e.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/57/bf/b9/57bfb93f6c159859ec41a0beef083c22.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/be/32/6c/be326c4749ba68992740d586e7789d70.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/1b/f1/fd/1bf1fd1a132e3a556e5fd2a6ec65884f.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/f5/fd/a1/f5fda1f65d7c4b3836c5c0326353ec87.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/c8/e9/c0/c8e9c02f4e27a76b8675d91d12d8511a.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/8a/0b/83/8a0b838f954f854c59d553f75d64914b.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/46/19/8d/46198d896aaa46fe2d48c1cc9c249702.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/30/fe/17/30fe178e125171f9b4c15c6722075c81.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/a9/cc/fb/a9ccfb78d3c8ddfe1f1c77bf10b1d9f8.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/originals/a8/07/09/a80709f8094473e25270c0a2947b8783.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/c8/e9/c0/c8e9c02f4e27a76b8675d91d12d8511a.jpg" />
      </a>
    </figure>
    <figure class="rounded">
      <a [routerLink]="['/product-details']">
        <img src="https://i.pinimg.com/564x/8a/0b/83/8a0b838f954f854c59d553f75d64914b.jpg" />
      </a>
    </figure>

  </div>
